# ==============================
# TELEGRAM
# ==============================
BOT_TOKEN=8602331358:AAFUxjGvMd_RefJYDv1p0N3BPLzyZ5-NH8M
MY_TELEGRAM_ID=ISI_TELEGRAM_ID_LU_DI_SINI

# ==============================
# SUPABASE
# ==============================
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_ANON_KEY=eyJhbGci...

# ==============================
# APP
# ==============================
NODE_ENV=development
TIMEZONE=Asia/Jakarta
